@font-face {
  font-family: dashcrazyfont;
  src: url('/static/fonts/Supercharge3D-GO79P.otf');
}
@font-face {
   font-family: dashmobilecrazyfont;
   src: url('/static/fonts/Supercharge-JRgPo.otf');
}
.threeblocks {
  position: absolute;
  top: 20vh;
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  align-items: flex-start;
  width: 98vw;
  height: 50vh;
  gap: 2%;
  left: 1vw;
}
.articlesCont, .gamesCont, .statsCont {
  background-color: black;
  border: 3px solid white;
  border-radius: 8px;
  width: 33%;
  height: 60vh;
  box-sizing: border-box;
}
.artcontentCont, .gamescontentCont, .statscontentCont {
  background-color: #000b81;
  border: 3px solid white;
  border-radius: 8px;
  width: 80%;
  height: 60%;
  margin-left: 10%;
}
.dirtButton, .denButton, .dataButton {
  background-color: #e60303;
  border: 3px solid white;
  border-radius: 8px;
  margin-left: 60%;
  margin-top: 5%;
  height: 10%;
  width: 30%;
}
.articleTitle, .gamesTitle, .statsTitle {
  font-family: 'dashcrazyfont';
  color: white;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  font-size: clamp(20px, 3vh, 70px);
}
.articlesCont {

}
.articleTitle {

}
.artcontentCont {
	
}
.dirtButton {
      
}
.gamesCont {

}
.gamesTitle {

}
.gamescontentCont {
	
}
.denButton {

}
.statsCont {

}
.statsTitle {

}
.statscontentCont {
	
}
.dataButton {

}
@media (max-width: 800px) {
  html, body {
     overflow-x: clip;
     overflow-y: auto;
  }
  .threeblocks {
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: column;
     gap: 2%;
  }
  .articlesCont, .gamesCont, .statsCont {
     width: 100%;
     margin-bottom: 2%;
  }
  .statsCont {
     margin-bottom: 15vh;
  }
  .articleTitle, .gamesTitle, .statsTitle {
     font-family: 'dashmobilecrazyfont';
     font-size: 20px;
  }
}
@media (max-width: 600px) {
  html, body {
     overflow-x: clip;
     overflow-y: auto;
  }
  .threeblocks {
     top: 12vh;
     width: 90%;
     margin-left:4%;
     height: auto;
     display: flex;
     flex-direction: column;
     gap: 2%;
  }
  .articlesCont, .gamesCont, .statsCont {
    width: 100%;
    margin-bottom: 5%;
  }
  .statsCont {
    margin-bottom: 15vh;
  }
  .artcontentCont, .gamescontentCont, .statscontentCont {
    height: 70%;
    margin-top: -3%;
  }
  .dirtButton, .denButton, .dataButton {
    margin-left: 10.5%;
    margin-top: 4%;
    height: 10%;
    width: 80%;
  }
}
