<!DOCTYPE html>
<html>
<body>


<h1>BLITZ3D: DIRT, DEN, DATA</h1>
<p>Sign in to ball!</p>

  <div>
    <form>
      <label for="username"> Username:</label><br />
      <input type="text" id="username" name="username" value="uzerrrrname"/><br />
      <label for="password"> Password:</label><br />    
      <input type="text" id="password" name="password" value="pazzzzword"/>            
      <input type="submit" value="Log In">
    </form>
    <button>Don't have an account? Sign up</button>
  </div>
</body>
</html>
