{% extends "myfirst.html" %}
<!DOCTYPE html>
<html>
  <body>                                                            
    {% block content %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <form method="POST"> 
       {% csrf_token %}
       <label for="username"> Username:</label><br />
       <input type="text" id="username" name="username" value=""/><br />
       <label for="password"> Password:</label><br />
       <input type="password" id="password" name="password" value=""/><br />
       <input type="submit" value="Sign Up">
    </form>
    {% endblock %}
  </body>
</html>
